.tag-generator-panel[data-id^="dynamic_"]:not([data-id*="hidden"]):not([data-id*="label"]):not([data-id*="submit"]) {
    /* Set size of tag generator to be larger for dynamic fields, except for these because they don't have a lot of options */
    height: 775px;
}

#tag-generator-list a.button.dtx-form-tag {
    border-color: #765cb9;
    color: #765cb9;
}

.tag-generator-panel table.form-table th {
    width: 130px;
}

.tag-generator-panel table.form-table td small {
    display: block;
    margin-top: 0.25em;
}

.tag-generator-panel .control-box input.oneline,
.tag-generator-panel .control-box input.multiline,
.tag-generator-panel .control-box textarea {
    width: 100%;
}

.tag-generator-panel .control-box input[list],
.tag-generator-panel .control-box input.multiline,
.tag-generator-panel .control-box textarea {
    height: 30px;
    min-height: 30px;
}

.tag-generator-panel .control-box input.multiline {
    display: inline-block;
    /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; */
    resize: vertical;
    overflow-x: hidden;
    overflow-y: scroll;
}

.tag-generator-panel .control-box textarea {
    height: 3.5em;
}

.tag-generator-panel table.form-table td .wpcf7dtx-mini-att,
.tag-generator-panel table.form-table td .wpcf7dtx-mini-att label,
.tag-generator-panel table.form-table td .wpcf7dtx-mini-att input[type="text"] {
    vertical-align: middle;
}

.tag-generator-panel .insert-box textarea.tag {
    border-radius: 4px;
    border: 1px solid #8c8f94;
    color: #2c3338;
    /* padding: 0 8px; */
    /* line-height: 2; */
    min-height: 30px;
    width: 500px;
    float: left;
    background-color: transparent;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}