:root {
    --wpcf7dtx-text-color: #5333a4;
    --wpcf7dtx-accent-color: #765cb9;
}


/* Buttons */

#tag-generator-list button.dtx-form-tag {
    border: 1px solid var(--wpcf7dtx-accent-color);
    color: var(--wpcf7dtx-text-color);
    border-radius: 2px;
}

#tag-generator-list button.dtx-form-tag:active,
#tag-generator-list button.dtx-form-tag:focus,
#tag-generator-list button.dtx-form-tag:hover {
    background: rgba(0, 0, 0, 0.05);
}


/* Tag Generator Dialog */

form.tag-generator-panel[data-version="2"] header.dtx-taggen h3 span {
    font-weight: 700;
    color: var(--wpcf7dtx-text-color);
}

form.tag-generator-panel[data-version="2"] .control-box.dtx-taggen {
    overflow-x: hidden;
    overflow-y: auto;
}

form.tag-generator-panel[data-version="2"] .control-box.dtx-taggen>fieldset::after {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    clear: both;
}

form.tag-generator-panel[data-version="2"] .control-box.dtx-taggen>fieldset {
    display: block;
    width: 100%;
    margin: 1em 1em 1em 0;
    box-sizing: border-box;
}

form.tag-generator-panel[data-version="2"] .control-box.dtx-taggen>fieldset>legend,
form.tag-generator-panel[data-version="2"] .control-box.dtx-taggen>fieldset>div {
    display: block;
}

form.tag-generator-panel[data-version="2"] .control-box.dtx-taggen>fieldset>legend {
    width: 130px;
    margin: 0;
    float: left;
}

form.tag-generator-panel[data-version="2"] .control-box.dtx-taggen>fieldset>div {
    margin-left: 130px;
    padding-left: 2em;
    padding-right: 1em;
}

form.tag-generator-panel[data-version="2"] .control-box.dtx-taggen>fieldset small {
    display: block;
    margin: 0.25em auto auto 0.5em;
    font-weight: 400;
    line-height: 1.5;
}

form.tag-generator-panel[data-version="2"] .control-box.dtx-taggen>fieldset legend small {
    margin-left: 0;
}

form.tag-generator-panel[data-version="2"] .control-box.dtx-taggen>fieldset small a {
    line-height: inherit;
}

form.tag-generator-panel[data-version="2"] .control-box.dtx-taggen input[type="text"],
form.tag-generator-panel[data-version="2"] .control-box.dtx-taggen textarea {
    display: block;
    width: 100%;
    max-width: 100%;
}

form.tag-generator-panel[data-version="2"] .control-box.dtx-taggen input[list],
form.tag-generator-panel[data-version="2"] .control-box.dtx-taggen input.multiline,
form.tag-generator-panel[data-version="2"] .control-box.dtx-taggen textarea {
    height: 30px;
    min-height: 30px;
}

form.tag-generator-panel[data-version="2"] .control-box.dtx-taggen input.multiline {
    display: inline-block;
    /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; */
    resize: vertical;
    overflow-x: hidden;
    overflow-y: scroll;
}

form.tag-generator-panel[data-version="2"] .control-box.dtx-taggen textarea {
    height: 3.5em;
}

form.tag-generator-panel[data-version="2"] .control-box.dtx-taggen>fieldset .wpcf7dtx-mini-att,
form.tag-generator-panel[data-version="2"] .control-box.dtx-taggen>fieldset .wpcf7dtx-mini-att label,
form.tag-generator-panel[data-version="2"] .control-box.dtx-taggen>fieldset .wpcf7dtx-mini-att input[type="text"] {
    display: inline-block;
    width: 10em;
    vertical-align: middle;
}